<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>document</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="max-age: 31536000">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" sizes="16x16" href="<%= htmlWebpackPlugin.files.favicon %>"/>
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" charset="UTF-8" type="text/css">
    <% } %>
</head>
<body>

<div id="app"></div>

<% if (process.env.NODE_ENV === 'production') { %>
<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        var version = '0.0.1';
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('/sw.js').then(function (ev) {
                if (localStorage.getItem('swVersion') !== version) {
                    ev.update().then(function () {
                        localStorage.setItem('swVersion', version)
                    });
                }
                console.log('SW registered: ', ev.scope);
            }).catch(function (err) {
                console.log('SW registration failed: ', err);
            });
        });
    }
</script>
<% } %>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" type="text/javascript"></script>
<% } %>
</body>
</html>